<footer>
		<div class="container justify-content-center">
			<ul>
				<li class="navbar justify-content-center">
					<a class="navbar-brand" href="#">
		         		<p><b>LOGO</b></p>
		        	</a>
		        </li>
		        <li>
		        	<ul class="social navbar justify-content-center">
						<li class="nav-item">
							<a class="nav-link" href="#">
								<a class="nav-link" href="#">
									<img src="/icons/social/vk.svg">
								</a>	
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<img src="/icons/social/facebook.svg">
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<img src="/icons/social/odnoklassniki.svg">
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<img src="/icons/social/instagram.svg">
							</a>
						</li>
					</ul>
				</li>
				<li>
					<ul class="navbar justify-content-center">
						<li class="nav-item">
							<a class="nav-link" href="#">Главная</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Каталог</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Акции</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Карта</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
</footer>