<!-- Форма авторизации -->
<div class="modals_wrapper" id="authorization_modal">
    <div class="modals col-lg-3">
        <div class="authorization_nav">
            <button type="button">ВХОД</button>
            <button type="button">РЕГИСТРАЦИЯ</button>
        </div>

        <form id="form_authorization" action="/login" method="post">
            <div class="field-block">
                <input type="text" placeholder="Email" name="email">
            </div>
            <div class="field-block">
                <input type="text" placeholder="Пароль" name="password">
            </div>
            <div class="field-block">
                <button type="submit">Войти</button>
            </div>
        </form>

<!-- Форма регистрации -->
        <form id="form_registration" action="/register" method="post">
            <div class="field-block" id="field-block-two">
                <input type="text" placeholder="Имя" name="name">
                <input type="text" placeholder="Фамилия" name="surName">
            </div>
            
            <div class="field-block">
                <input type="text" placeholder="Email" name="email">
            </div>
            <div class="field-block">
                <input type="text" placeholder="Телефон" name="phoneNumber">
            </div>
            <div class="field-block">
                <input type="text" placeholder="Дата рождения" name="birthday">
            </div>
            <div class="field-block" id="field-block-gender">
                <span>
                    <input type="radio" name="gender" value="М" style="vertical-align:middle;margin:0;"><span> мужской</span>
                </span>
            </div>
            <div class="field-block" id="field-block-gender">
                <span>
                    <input type="radio" name="gender" value="Ж" style="vertical-align:middle;margin:0;"><span> женский</span>    
                </span>
            </div>

            <div class="field-block">
                <input type="password" placeholder="Пароль" name="password">
            </div>
            <div class="field-block">
                <input type="password" placeholder="Введите пароль ещё раз">
            </div>
            <div class="field-block">
                <button type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>

