<!-- Форма авторизации -->
<div class="modal" id="authorization_modal">
    <form action="/login" method="post">
        <a class="close_modal">Закрыть</a>
        <div class="field-block">
            <label for="name">Email:</label><br>
            <input type="text" name = "email">
        </div>
        <div class="field-block">
            <label for="name">Пароль:</label><br>
            <input type="text" name = "password">
        </div>
        <div class="field-block">
            <button type="reset">Очистить</button>
            <button type="submit">Войти</button>
        </div>
    </form>
</div>

<!-- Форма регистрации -->
<div class="modal" id="registration_modal">
    <form action="/register" method="post">
        <a class="close_modal">Закрыть</a>
        <div class="field-block">
            <label for="ФИО">ФИО:</label><br>
            <input type="text" name = "name">
        </div>
        <div class="field-block">
            <label for="name">Email:</label><br>
            <input type="text" name = "email">
        </div>
        <div class="field-block">
            <label for="name">Пароль:</label><br>
            <input type="text" name = "password">
        </div>
        <div class="field-block">
            <label for="name">Повторите пароль:</label><br>
            <input type="text" name = "confirmPassword">
        </div>
        <div class="field-block">
            <button type="reset">Очистить</button>
            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>
</div>