<!-- Форма авторизации -->
<div class="modals_wrapper" id="authorization_modal">
    <div class="modals">
        <form action="" method="post">
            <a class="close_modal">Закрыть</a>
            <div class="field-block">
                <label for="name">Email:</label><br>
                <input type="text">
            </div>
            <div class="field-block">
                <label for="name">Пароль:</label><br>
                <input type="text">
            </div>
            <div class="field-block">
                <button type="reset">Очистить</button>
                <button type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>

<!-- Форма регистрации -->
<div class="modals_wrapper" id="registration_modal">
    <div class="modals">
        <form action="" method="post">
            <a class="close_modal">Закрыть</a>
            <div class="field-block">
                <label for="surname">Фамилия:</label><br>
                <input type="text">
            </div>
            <div class="field-block">
                <label for="name">Имя:</label><br>
                <input type="text">
            </div>
            <div class="field-block">
                <label for="email">Email:</label><br>
                <input type="text">
            </div>
            <div class="field-block">
                <label for="phone">Телефон:</label><br>
                <input type="text">
            </div>
            <div class="field-block">
                <label for="birthday">Дата рождения:</label><br>
                <input type="text">
            </div>
            <div class="field-block">
                <label for="gender">Пол:</label><br>
                <label>
                    <input type="radio" name="gender" value="мужской">мужской
                    <div class="radio-control male"></div>
                </label>
                <label>
                    <input type="radio" name="gender" value="женский">женский
                    <div class="radio-control female"></div>
                </label>
            </div>

            <div class="field-block">
                <label for="password">Пароль:</label><br>
                <input type="password">
            </div>
            <div class="field-block">
                <label for="password2">Повторите пароль:</label><br>
                <input type="password">
            </div>
            <div class="field-block">
                <button type="reset">Очистить</button>
                <button type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>