<!-- Форма авторизации -->
<div class="modals_wrapper" id="authorization_modal">
    <div class="modals col-lg-3">
        <div class="authorization_nav">
            <button type="button">ВХОД</button>
            <button type="button">РЕГИСТРАЦИЯ</button>
        </div>

        <form id="form_authorization" action="" method="post">
            <div class="field-block">
                <input type="text" placeholder="Email">
            </div>
            <div class="field-block">
                <input type="text" placeholder="Пароль">
            </div>
            <div class="field-block">
                <button type="submit">Войти</button>
            </div>
        </form>

        <form id="form_registration" action="" method="post">
            <div class="field-block" id="field-block-two">
                <input type="text" placeholder="Фамилия">
                <input type="text" placeholder="Имя">
            </div>
            
            <div class="field-block">
                <input type="text" placeholder="Email">
            </div>
            <div class="field-block">
                <input type="text" placeholder="Телефон">
            </div>
            <div class="field-block">
                <input type="text" placeholder="Дата рождения">
            </div>
            <div class="field-block" id="field-block-gender">
                <span>
                    <input type="radio" name="gender" value="мужской" style="vertical-align:middle;margin:0;"><span> мужской</span>
                </span>
            </div>
            <div class="field-block" id="field-block-gender">
                <span>
                    <input type="radio" name="gender" value="женский" style="vertical-align:middle;margin:0;"><span> женский</span>    
                </span>
            </div>

            <div class="field-block">
                <input type="password" placeholder="Пароль">
            </div>
            <div class="field-block">
                <input type="password" placeholder="Пароль ещё раз">
            </div>
            <div class="field-block">
                <button type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>

