<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> <!-- JQuery 3.6.0 -->
        <script src="js/scripts/authorization.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        {{> header}}
        
        {{> modals}}


        {{{body}}}
        
        {{> footer}}
    </body>
</html>
