<section>
		<div class="container">
			<h2>КАРТА</h2>
		</div>
	</section>
	<section class="map-filters">
		<div class="container map-filters">
			<div class="cl-lg-12">
				<select>
					<option value="" selected disabled hidden>Фильтр 1</option>
				   	<option value="Undefined">Undefined 1</option>
					<option value="saab">Undefined 2</option>
			  	</select>
			  	<select>
					<option value="" selected disabled hidden>Фильтр 2</option>
				   	<option value="Undefined">Undefined 1</option>
					<option value="saab">Undefined 2</option>
			  	</select>
			  	<select>
					<option value="" selected disabled hidden>Фильтр 3</option>
				   	<option value="Undefined">Undefined 1</option>
					<option value="saab">Undefined 2</option>
			  	</select>
			  	<select>
					<option value="" selected disabled hidden>Фильтр 4</option>
				   	<option value="Undefined">Undefined 1</option>
					<option value="saab">Undefined 2</option>
			  	</select>
			  	<select>
					<option value="" selected disabled hidden>Фильтр 5</option>
				   	<option value="Undefined">Undefined 1</option>
					<option value="saab">Undefined 2</option>
			  	</select>
			  	<select>
					<option value="" selected disabled hidden>Фильтр 6</option>
				   	<option value="Undefined">Undefined 1</option>
					<option value="saab">Undefined 2</option>
			  	</select>
			  	<select>
					<option value="" selected disabled hidden>Фильтр 7</option>
				   	<option value="Undefined">Undefined 1</option>
					<option value="saab">Undefined 2</option>
			  	</select>
			  	<select>
					<option value="" selected disabled hidden>Фильтр 8</option>
				   	<option value="Undefined">Undefined 1</option>
					<option value="saab">Undefined 2</option>
			  	</select>
			  	<select>
					<option value="" selected disabled hidden>Фильтр 9</option>
				   	<option value="Undefined">Undefined 1</option>
					<option value="saab">Undefined 2</option>
			  	</select>
			 </div>

		</div>
	</section>

	<section class="map">
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A310685cbb359cb69261229212ae43f28e037db5147a7df9026981592498dccb2&amp;width=100%25&amp;height=70vh&amp;lang=ru_RU&amp;scroll=false"></script>
	</section>
